@model QuestionEntities.Question

@{
    ViewBag.Title = Languages.Language.Details;
}

<h2>@Languages.Language.Details</h2>

<div>
    <h4>@Languages.Language.Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        @Html.Partial("_" + Model.Type + "View", Model)

    </dl>
</div>
<p>
    @Html.ActionLink(Languages.Language.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Languages.Language.IndexBack, "Index")
</p>
