@model IEnumerable<QuestionEntities.Question>

@{
    ViewBag.Title = Languages.Language.Index;
}

<h2>@Languages.Language.IndexHeader</h2>

<div class="questions__delete-response-container" role="alert">

</div>

@Html.Partial("_QuestionsView", Model)

@section scripts {
    @Scripts.Render("~/Scripts/jquery.signalR-2.4.2.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/QuestionsIndexControllers")
}
