@{
    ViewBag.Language = Request.Cookies["Language"] != null ? Request.Cookies["Language"].Value.Substring(0,2).ToLower() : "";
}

<!DOCTYPE html>
<html dir=@(ViewBag.Language == "ar" ? "rtl" : "ltr") lang=@ViewBag.Language>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Languages.Language.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class=@(ViewBag.Language == "ar" ? "body--right-to-left" : "")>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container navbar--container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Languages.Language.AppName, "Index", "Questions", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Languages.Language.Home, "Index", "Questions")</li>
                    <li>@Html.ActionLink(Languages.Language.Create, "Create", "Questions")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(Languages.Language.Settings, "Edit", "Settings")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @if (TempData["Message"] != null)
        {
            <div class="response__message-container">
                <div class="alert alert-@TempData["Response"]" role="alert">
                    @TempData["Message"]
                </div>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Languages.Language.AppName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
