@model IEnumerable<QuestionEntities.Question>


    <div id="questions__container">
        <table class="table">
            <tr>
                <th class="sortable width-20">
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th class="sortable width-20">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th class="sortable width-40">
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th class="width-20"></th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class=@($"question__container-{item.Id}")>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td class="question__buttons">
                            @Html.ActionLink(Languages.Language.Edit, "Edit", new { id = item.Id }, new {@class = "btn btn-primary" })
                            <button class="question__delete-btn btn btn-danger" id=@($"delete-{item.Id}")>@Languages.Language.Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
