@model IEnumerable<QuestionEntities.Question>


    <div id="questions__container">
        <table class="table">
            <tr>
                <th class="sortable">
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th class="sortable">
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th></th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class=@($"question__container-{item.Id}")>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.ActionLink(Languages.Language.Edit, "Edit", new { id = item.Id }) |
                            @Html.ActionLink(Languages.Language.Details, "Details", new { id = item.Id }) |
                            <button class="question__delete-btn" id=@($"delete-{item.Id}")>@Languages.Language.Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
